<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
    <title>Tp3_Rodriguez_Alan</title>
</head>
<body>
<header>
	<h1>Por Que Usar Java</h1>
</header>
<nav>
            <ul>
                <li><a href="">Principal</a></li>
                <li><a href="">Programas</a></li>
                <li><a href="">Compatibilidad</a></li>
                <li><a href="">Contactos</a></li>
            </ul>
</nav>
<main>
	<section id="seccion1">
	<h2>Java</h2>
	<h3>subtitulo1</h3> 
	<p>Java es un lenguaje de programación popular conocido por su portabilidad y seguridad. 
		Diseñado para ser fácil de aprender y entender, Java es ampliamente utilizado en el desarrollo de aplicaciones empresariales, web y móviles. Con su máquina virtual Java (JVM), el código Java puede ejecutarse en cualquier plataforma, lo que lo convierte en una opción atractiva para aplicaciones que necesitan funcionar en diferentes sistemas operativos. 
		Además, Java cuenta con una gran comunidad de desarrolladores y una amplia gama de herramientas y frameworks disponibles.</p>
			<ul>
                <li>java8</li>
                <li>java12</li>
                <li>java17</li>
            </ul>
	</section>
	<section id="seccion2">
	<h2>C++</h2>
	<h3>subtitulo2</h3> 
	<p> Lenguaje potente y eficiente, ideal para sistemas embebidos, juegos y software de bajo nivel. 
	Ofrece control de memoria y alto rendimiento</p>
	<!--agregue el "style= "border: 1px solid black;"" debido a que en la pagina validator al usar "border="1" 
	 saltaba el error "Error: The border attribute on the table element is obsolete. Use CSS instead.". 
	 Sera corregido a la hora de poder usar Css. -->
	<table style= "border: 1px solid black;"> 
     <tr>										
       <th style= "border: 1px solid black;">C++</th>
       <th style= "border: 1px solid black;">Java</th>
     </tr>
     <tr>
       <td style= "border: 1px solid black;">Rápido y eficiente</td>
       <td style= "border: 1px solid black;">Rendimiento moderado </td>
     </tr>
    </table>
	</section>
	<section id="seccion3">
	<h2>Python</h2>
	<h3>subtitulo3</h3> 
	<p>lorem</p>
	<table style= "border: 1px solid black;">
     <tr>
       <th style= "border: 1px solid black;">Python</th>
       <th style= "border: 1px solid black;">Java</th>
     </tr>
     <tr>
       <td style= "border: 1px solid black;">Rendimiento moderado </td>
       <td style= "border: 1px solid black;">Rendimiento moderado </td>
     </tr>
    </table>
	</section>
</main>
	<aside>
        <h2>Descarga Java</h2>
        <a href="https://www.java.com/es/download/ie_manual.jsp">
        <img src="images/java.png" alt="Imagen Adicional" width="200">
    	</a>
    </aside>
<footer>
        <p>Contacto:estudios345@gmail.com</p>
        <p>Redes</p>
        <ul>
        	<li><a href="#">Instagram</a></li>
            <li><a href="#">Twitter</a></li>
        </ul>
</footer>
</body>
</html>