<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/estilos.css">
<title>Tp3_Rodriguez_Alan</title>
</head>
<body>
<header id="header">
	<h1>Por Que Usar Java</h1>
</header>
<nav class="navegador">
            <ul class="lista-nav">
                <li><a class="selector" href="templates/..">Principal</a></li>
                <li><a class="selector" href="">Programas</a></li>
                <li><a class="selector" href="form-cliente">Registrarse</a></li>
                <li><a class="selector" href="">Contactos</a></li>
            </ul>
</nav>
<div class="container">
<main class="main">
	<section class="seccion">
	<h2 class="titulo">Java</h2>
	<h3 class="titulo">¿Que es java?</h3> 
	<p class="texto">Java es un lenguaje de programación popular conocido por su portabilidad y seguridad. 
		Diseñado para ser fácil de aprender y entender, Java es ampliamente utilizado en el desarrollo de aplicaciones empresariales, web y móviles. Con su máquina virtual Java (JVM), el código Java puede ejecutarse en cualquier plataforma, lo que lo convierte en una opción atractiva para aplicaciones que necesitan funcionar en diferentes sistemas operativos. 
		Además, Java cuenta con una gran comunidad de desarrolladores y una amplia gama de herramientas y frameworks disponibles.</p>
			<h3 class="titulo">caracteristicas</h3>
			<ul class="lista">
                <li>Independiente:<br>
                <p class="info">Esto se logra gracias a la Máquina Virtual de Java (JVM), que interpreta el bytecode (el código intermedio al que se compilan los programas Java). El lema "Write Once, Run Anywhere" (escribir una vez, ejecutar en cualquier lugar) refleja esta característica esencial.</p></li>
                <li>Orientado a Objetos:<br>
                <p class="info">Java es un lenguaje de programación orientado a objetos, lo que facilita la creación de programas modulares y reutilizables. La orientación a objetos permite a los desarrolladores crear aplicaciones más organizadas, claras y fáciles de mantener. Los conceptos clave como la herencia, el polimorfismo, la encapsulación y la abstracción son fundamentales en Java.</p></li>
                <li>Seguridad:<br>
                <p class="info">Java fue diseñado con un fuerte enfoque en la seguridad, lo que lo hace ideal para aplicaciones en red.Incluye la gestión de memoria automática (recolección de basura), un modelo de seguridad sólido que incluye un sistema de permisos para prevenir acciones no autorizadas, y el manejo de excepciones para capturar y manejar errores en tiempo de ejecución de manera segura.</p></li>
            </ul>
	</section>
	<section class="seccion">
	<h2 class="titulo">C++</h2>
	<h3 class="titulo">¿Que es c++?</h3> 
	<p class="texto"> C++ es un lenguaje de programación creado por Bjarne Stroustrup en 1985 como una extensión del lenguaje C, 
	incorporando características de programación orientada a objetos y otros elementos que permiten una programación de alto rendimiento y flexibilidad.</p>
	<h4>Comparación:</h4>
	<table class="tabla">
        <tr>
            <th>Ventajas</th>
            <th>C++</th>
            <th>Java</th>
        </tr>
        <tr>
            <td>Rendimiento</td>
            <td>Rápido y eficiente</td>
            <td>Rendimiento moderado</td>
        </tr>
        <tr>
            <td>Control de memoria</td>
            <td>Control preciso</td>
            <td>Gestión automática de memoria</td>
        </tr>
        <tr>
            <td>Flexibilidad</td>
            <td>Amplia gama de características de bajo y alto nivel</td>
            <td>Orientado a objetos</td>
        </tr>
        <tr>
            <td>Portabilidad</td>
            <td>Ampliamente compatible</td>
            <td>Altamente portátil</td>
        </tr>
        <tr>
            <td>Seguridad</td>
            <td>Depende de la implementación</td>
            <td>Características de seguridad integradas</td>
        </tr>
        <tr>
            <td>Facilidad de aprendizaje</td>
            <td>Más complejo que Java y Python</td>
            <td>Sintaxis clara y fácil de entender</td>
        </tr>
        <tr>
            <td>Desarrollo web</td>
            <td>Menos común en desarrollo web</td>
            <td>Ampliamente utilizado en el backend</td>
        </tr>
        <tr>
            <td>Comunidad</td>
            <td>Gran comunidad de desarrolladores</td>
            <td>Gran comunidad de desarrolladores</td>
        </tr>
        <tr>
            <td>Aplicaciones</td>
            <td>Sistemas embebidos, juegos, sistemas operativos</td>
            <td>Aplicaciones empresariales, web</td>
        </tr>
    </table>
	</section>
	<section class="seccion">
	<h2 class="titulo">Python</h2>
	<h3 class="titulo">¿Que es python?</h3> 
	<p class="texto">Python es un lenguaje de programación interpretado, de alto nivel y de propósito general, diseñado para ser fácil de leer y escribir. 
	Fue desarrollado por Guido van Rossum y su primera versión fue lanzada en 1991. 
	Python enfatiza la legibilidad del código y su sintaxis permite a los programadores expresar conceptos en menos líneas de código comparado con otros lenguajes de programación como C++ o Java.</p>
	<h4>Comparación:</h4>
	<table class="tabla">
        <tr>
            <th>Ventajas</th>
            <th>Java</th>
            <th>Python</th>
        </tr>
        <tr>
            <td>Rendimiento</td>
            <td>Rendimiento moderado</td>
            <td>Rendimiento moderado</td>
        </tr>
        <tr>
            <td>Control de memoria</td>
            <td>Gestión automática de memoria</td>
            <td>Gestión automática de memoria</td>
        </tr>
        <tr>
            <td>Flexibilidad</td>
            <td>Orientado a objetos</td>
            <td>Fácil de aprender, versátil</td>
        </tr>
        <tr>
            <td>Portabilidad</td>
            <td>Altamente portátil</td>
            <td>Altamente portátil</td>
        </tr>
        <tr>
            <td>Seguridad</td>
            <td>Características de seguridad integradas</td>
            <td>Depende de la implementación</td>
        </tr>
        <tr>
            <td>Facilidad de aprendizaje</td>
            <td>Sintaxis clara y fácil de entender</td>
            <td>Fácil de aprender, sintaxis clara</td>
        </tr>
        <tr>
            <td>Desarrollo web</td>
            <td>Ampliamente utilizado en el backend</td>
            <td>Ampliamente utilizado en el backend</td>
        </tr>
        <tr>
            <td>Comunidad</td>
            <td>Gran comunidad de desarrolladores</td>
            <td>Gran comunidad de desarrolladores</td>
        </tr>
        <tr>
            <td>Aplicaciones</td>
            <td>Aplicaciones empresariales, web</td>
            <td>Análisis de datos, IA, desarrollo web</td>
        </tr>
    </table>
	</section>
</main>
<aside class="aside">
        <h2>Descarga Java</h2>
        <a class="nav-java" href="https://www.java.com/es/download/ie_manual.jsp">
        <img class="imagen" src="images/java.png" alt="Imagen Adicional" width="200">
    	</a>
 </aside>
</div>
<footer id="footer">
        <p class="texto">Contacto:estudios345@gmail.com</p>
        <p class="texto">Redes:</p>
        <ul class="lista">
        	<li><a class="nav-redes" href="https://www.instagram.com/escuelademinas?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">Instagram</a></li>
            <li><a class="nav-redes" href="https://www.facebook.com/escminasunju/?locale=es_LA">Facebook</a></li>
        </ul>
</footer>
</body>
</html>